# Ignore client directory
client/

# Ignore node_modules in all directories
**/node_modules
**/dist

# Ignore environment files
**/.env
**/.env.local

# Ignore logs
**/*.log
**/npm-debug.log*

# Ignore OS files
**/.DS_Store
.git
.gitignore

# Ignore documentation
*.md
docs/
